* {
    box-sizing: border-box;
}

.main-nav{
    margin-bottom: 30px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}


.card-title{
    margin-top:0px;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}
.card-body {
    padding: 10px 0;
    color: rgb(219, 211, 211);    
}
.card-text:last-child {
    margin-bottom: 0;
}
.h1, h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    color:white
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.card-img, .card-img-bottom {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    flex-shrink: 0;
    width: 100%;
}
.dice-roll {
    display: inline-block;
    color: #fff;
    background: #3ecf8e;
    text-shadow: 0 1px 3px rgb(36 180 126 / 40%);
    border: 1px solid #3ecf8e;
    font-size: 1.5em;
    padding: 13px 16px;
    cursor: pointer;
    margin:0 auto;

}

body{
    background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
    font-size: 100%;
    font-family:'Poppins', sans-serif;
    background-attachment: fixed;   
} 

.first-face {
    
    justify-content: center;
    align-items: center;
}

.second-face {

    display: flex;
    display:none;
    justify-content: space-between;
}

.second-face .pip:nth-of-type(2) {
    align-self: flex-end;
}

.third-face {
    display: flex;
    display:none;
    justify-content: space-between;
}

.third-face .pip:nth-of-type(2) {
    align-self: center;
}

.third-face .pip:nth-of-type(3) {
    align-self: flex-end;
}

.fourth-face, .sixth-face {
    display: flex;
    justify-content: space-between;
    display:none;
}

.fourth-face .column, .sixth-face .column {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
}

.fifth-face {

    display:none;
    justify-content: space-between;
}

.fifth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
    justify-content: center;
}

.cub {
    display:none;
    margin: 10px auto;
    padding: 4px;
    background-color: #e7e7e7;
    width: 104px;
    height: 104px;
    object-fit: contain;
    box-shadow:
        inset 0 5px white, 
        inset 0 -5px #bbb,
        inset 5px 0 #d7d7d7, 
        inset -5px 0 #d7d7d7;
    border-radius: 10%;
}

.pip {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 4px;
    background-color: #333;
    box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

.apper{
    display:flex;
}

.cubik{
    border: 1px solid rgba(0,0,0,.125);
}

.button-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#status{
    color:thistle;
    margin:10px auto;
}
/* Генератор случайных коктейлей */
#drink-section img{
    width: 30%;
    display: block;
    border-radius: 20px;
    margin: 0 auto;
    height: auto;
}

ons-list{
display: flex;
flex-direction: column;
color:white;
}

.block{
    display:block;
}

.none{
    display:none;
}

h2{
    text-align: center;
    color:white;
}

button.dice-roll{
    margin-top:10px;
}

.container{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

#randomize{
    margin-bottom: 20px;
}